* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100vh;
    margin:0;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
    text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 6.66s;
    animation-delay: 0.111s;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #666 0%, #b1b1b1 51%);
    }
}


html, body {
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

header, main, h1, h3, p {
    padding: 0.666rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#spinner {
    display: block;
    margin: auto;
}
main {
    user-select: none;
    display: grid;
    flex: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.666rem;
}
main .cube {
    width: 6.66rem;
    height: 6.66rem;
    font-size: 3.33rem;
    background: radial-gradient(
            rgba(127, 127, 127, 0.44) 27%,
            rgba(32, 32, 32, 0.3) 100%
    );
    text-align: center;
    line-height: 5.66rem;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 0.666rem;
    box-shadow: 0 0 1.666rem #666;
}

h1 {
    font-size: 2.666rem;
    font-weight: bold;
}

h3 {
    font-size: 2.666rem;
}

p {
    font-size: 1.666rem;
}

button {
    padding: 0.666rem;
}

@media (max-width: 1024px) {
    html, body {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    html, body {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    html, body {
        font-size: 10px;
    }
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

@media (orientation: landscape) and (hover: none) {
    body {
        flex-direction: row;
        align-items: normal;
    }
    body header {
        display: none;
    }
}

footer article {
    padding: 0.333rem 0;
    height: calc(100vh - 66.66rem);
    overflow-y: auto;
    text-align: left;
    flex-grow: 1;
}
footer article p {    
    padding: 0 3.666rem;
}
footer .share {
    padding: 1.333rem;
}
footer .share button {
    border-radius: 0.666rem;
    background: aliceblue;
    cursor: pointer;
}

footer .share button img {
    max-width: 3.3rem;
    max-height: 3.3rem;
}

